# Configuration file

balance {
    S:fluid.coal.grammar=
    S:fluid.coal.instability.factor_accessibility=
    S:fluid.coal.instability.factor_flat=
    S:fluid.coal.rarity=
    S:fluid.coal.seabanned=
    S:fluid.cryotheum.grammar=
    S:fluid.cryotheum.instability.factor_accessibility=
    S:fluid.cryotheum.instability.factor_flat=
    S:fluid.cryotheum.rarity=
    S:fluid.cryotheum.seabanned=
    S:fluid.ender.grammar=
    S:fluid.ender.instability.factor_accessibility=
    S:fluid.ender.instability.factor_flat=
    S:fluid.ender.rarity=
    S:fluid.ender.seabanned=
    S:fluid.endergoo.grammar=
    S:fluid.endergoo.instability.factor_accessibility=
    S:fluid.endergoo.instability.factor_flat=
    S:fluid.endergoo.rarity=
    S:fluid.endergoo.seabanned=
    S:fluid.fluiddeath.grammar=
    S:fluid.fluiddeath.instability.factor_accessibility=
    S:fluid.fluiddeath.instability.factor_flat=
    S:fluid.fluiddeath.rarity=
    S:fluid.fluiddeath.seabanned=
    S:fluid.fluidpure.grammar=
    S:fluid.fluidpure.instability.factor_accessibility=
    S:fluid.fluidpure.instability.factor_flat=
    S:fluid.fluidpure.rarity=
    S:fluid.fluidpure.seabanned=
    S:fluid.fluxgoo.grammar=
    S:fluid.fluxgoo.instability.factor_accessibility=
    S:fluid.fluxgoo.instability.factor_flat=
    S:fluid.fluxgoo.rarity=
    S:fluid.fluxgoo.seabanned=
    S:fluid.fuel.grammar=
    S:fluid.fuel.instability.factor_accessibility=
    S:fluid.fuel.instability.factor_flat=
    S:fluid.fuel.rarity=
    S:fluid.fuel.seabanned=
    S:fluid.glowstone.grammar=
    S:fluid.glowstone.instability.factor_accessibility=
    S:fluid.glowstone.instability.factor_flat=
    S:fluid.glowstone.rarity=
    S:fluid.hell_blood.grammar=
    S:fluid.hell_blood.instability.factor_accessibility=
    S:fluid.hell_blood.instability.factor_flat=
    S:fluid.hell_blood.rarity=
    S:fluid.hell_blood.seabanned=
    S:fluid.honey.grammar=
    S:fluid.honey.instability.factor_accessibility=
    S:fluid.honey.instability.factor_flat=
    S:fluid.honey.rarity=
    S:fluid.honey.seabanned=
    S:fluid.mana.grammar=
    S:fluid.mana.instability.factor_accessibility=
    S:fluid.mana.instability.factor_flat=
    S:fluid.mana.rarity=
    S:fluid.mana.seabanned=
    S:fluid.myst.ink.black.grammar=
    S:fluid.myst.ink.black.instability.factor_accessibility=
    S:fluid.myst.ink.black.instability.factor_flat=
    S:fluid.myst.ink.black.rarity=
    S:fluid.myst.ink.black.seabanned=
    S:fluid.oil.grammar=
    S:fluid.oil.instability.factor_accessibility=
    S:fluid.oil.instability.factor_flat=
    S:fluid.oil.rarity=
    S:fluid.oil.seabanned=
    S:fluid.poison.grammar=
    S:fluid.poison.instability.factor_accessibility=
    S:fluid.poison.instability.factor_flat=
    S:fluid.poison.rarity=
    S:fluid.poison.seabanned=
    S:fluid.pyrotheum.grammar=
    S:fluid.pyrotheum.instability.factor_accessibility=
    S:fluid.pyrotheum.instability.factor_flat=
    S:fluid.pyrotheum.rarity=
    S:fluid.pyrotheum.seabanned=
    S:fluid.redplasma.grammar=
    S:fluid.redplasma.instability.factor_accessibility=
    S:fluid.redplasma.instability.factor_flat=
    S:fluid.redplasma.rarity=
    S:fluid.redplasma.seabanned=
    S:fluid.redstone.grammar=
    S:fluid.redstone.instability.factor_accessibility=
    S:fluid.redstone.instability.factor_flat=
    S:fluid.redstone.rarity=
    S:fluid.redstone.seabanned=
    S:fluid.steam.grammar=
    S:fluid.steam.instability.factor_accessibility=
    S:fluid.steam.instability.factor_flat=
    S:fluid.steam.rarity=
}


entity {
    I:entity.book.id=219
    I:entity.falling.id=218
    I:entity.meteor.id=217
}


general {
    B:crafting.linkeffects.disarm.enabled=false
    B:crafting.linkeffects.generate_platform.enabled=true
    B:crafting.linkeffects.intra_linking.enabled=false
    B:crafting.linkeffects.maintain_momentum.enabled=true
    B:crafting.linkeffects.relative.enabled=true
    B:options.binder.enabled=true
    B:options.bookstand.enabled=true
    B:options.command.spawnmeteor.enabled=false
    B:options.desk.enabled=true
    B:options.deskback.enabled=true
    B:options.fastRainbows=true
    B:options.inkmixer.enabled=true
    S:options.instability.difficulty=
    B:options.instability.enabled=true
    B:options.lectern.enabled=true
    B:options.linkbook.enabled=true
    B:options.notebook.enabled=true
    I:options.providerId=1210950779
    B:options.receptacle.enabled=true
    B:options.renderlabels=false
    B:options.respawnInAges=true
    B:options.villageDeskGen=true
    I:villager.archivist.id=1210950779
}


